<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sản phẩm</title>
    <link rel="shortcut icon" href="../images/logo.jpg">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../css/product.css">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <header id="header_container">
        <div id="top_header">
            <p>JENNIE là THƯƠNG HIỆU THỜI TRANG phong cách FREESTYLE dành cho CÁC BẠN TRẺ chuyên để MẶC ĐI CHƠI</p>
            <ul>
                <li>1900 633 501</li>
                <li>Hệ thống cửa hàng</li>
                <li>Tra cứu đơn hàng</li>
            </ul>
        </div>
        <div id="header">
            <div id="left_header">
                <div id="bars_container_mobile">
                    <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" stroke-width="1.5"
                        viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                        <path d="M3 5H21" stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path d="M3 12H21" stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path d="M3 19H21" stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </svg>
                </div>
                <img class="logo" src="../images/logo.jpg" alt="logo">
                <ul id="menu">
                    <li>NEW ARRIVALS</li>
                    <li>SALE HẾT NGHỈ TẾT</li>
                    <li>SẢN PHẨM</li>
                    <li>BỘ SƯU TẬP</li>
                    <li>FEEDBACK</li>
                </ul>
            </div>
            <div id="right_header">
                <div id="search_container">
                    <input placeholder="Bạn muốn tìm..." />
                    <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" viewBox="0 0 24 24"
                        stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                        <path d="M17 17L21 21" stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M3 11C3 15.4183 6.58172 19 11 19C13.213 19 15.2161 18.1015 16.6644 16.6493C18.1077 15.2022 19 13.2053 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11Z"
                            stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
                <div id="cart_container">
                    <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" stroke-width="1.5"
                        viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                        <path d="M3 6H22L19 16H6L3 6ZM3 6L2.25 3.5" stroke="#000000" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M11 19.5C11 20.3284 10.3284 21 9.5 21C8.67157 21 8 20.3284 8 19.5" stroke="#000000"
                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M17 19.5C17 20.3284 16.3284 21 15.5 21C14.6716 21 14 20.3284 14 19.5" stroke="#000000"
                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <p>Giỏ hàng</p>
                    <span>(9+)</span>
                </div>
                <div id="user_container">
                    <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" stroke-width="1.5"
                        viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                        <path d="M5 20V19C5 15.134 8.13401 12 12 12V12C15.866 12 19 15.134 19 19V20" stroke="#000000"
                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path
                            d="M12 12C14.2091 12 16 10.2091 16 8C16 5.79086 14.2091 4 12 4C9.79086 4 8 5.79086 8 8C8 10.2091 9.79086 12 12 12Z"
                            stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <p>Đăng nhập</p>
                </div>
            </div>
        </div>
    </header>
    <div id="search_form_container_mobile">
        <input placeholder="Bạn muốn tìm..." />
        <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5"
            fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
            <path d="M17 17L21 21" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
            </path>
            <path
                d="M3 11C3 15.4183 6.58172 19 11 19C13.213 19 15.2161 18.1015 16.6644 16.6493C18.1077 15.2022 19 13.2053 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11Z"
                stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
    </div>
    <div id="menu_container_mobile">
        <div id="menu_mobile">
            <?xml version="1.0" encoding="UTF-8"?><svg id="close_menu_mobile" width="36px" height="36px"
                stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                <path
                    d="M6.75827 17.2426L12.0009 12M17.2435 6.75736L12.0009 12M12.0009 12L6.75827 6.75736M12.0009 12L17.2435 17.2426"
                    stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <ul>
                <li>NEW ARRIVALS</li>
                <li>SALE HẾT NGHỈ TẾT</li>
                <li>SẢN PHẨM</li>
                <li>BỘ SƯU TẬP</li>
                <li>FEEDBACK</li>
            </ul>
        </div>
    </div>
    <div id="main_product_page">
        <ul class="navigation">
            <li>Trang chủ</li>
            <li>Áo khoác</li>
            <li>Áo khoác UNISEX</li>
            <li>Áo Khoác Dù Unisex</li>
        </ul>
        <div id="product_info_container">
            <div id="image_product_container">
                <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" data-id="1">
                            <img src="../images/san_pham.jpeg" />
                        </div>
                        <div class="swiper-slide" data-id="2">
                            <img src="../images/san_pham_2.jpeg" />
                        </div>
                        <div class="swiper-slide" data-id="3">
                            <img src="../images/san_pham_3.jpeg" />
                        </div>
                        <div class="swiper-slide" data-id="4">
                            <img src="../images/san_pham_4.jpeg" />
                        </div>
                        <div class="swiper-slide" data-id="5">
                            <img src="../images/san_pham_5.jpeg" />
                        </div>
                        <div class="swiper-slide" data-id="6">
                            <img src="../images/san_pham_6.jpeg" />
                        </div>
                        <div class="swiper-slide" data-id="7">
                            <img src="../images/san_pham_7.jpeg" />
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
                <div thumbsSlider="" class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="../images/san_pham.jpeg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="../images/san_pham_2.jpeg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="../images/san_pham_3.jpeg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="../images/san_pham_4.jpeg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="../images/san_pham_5.jpeg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="../images/san_pham_6.jpeg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="../images/san_pham_7.jpeg" />
                        </div>
                    </div>
                </div>
            </div>
            <div id="product_info_right_container">
                <h1>ÁO KHOÁC DÙ UNISEX - TOTODAY - GOOD FORTUNE</h1>
                <div id="sku_container">
                    <p>SKU: U1AKD01402FONBA</p>
                    <p>Còn hàng</p>
                </div>
                <div id="price_info_product">
                    <p>450,000đ</p>
                    <p>750,000đ</p>
                </div>
                <div id="color_info_product">
                    <p>Màu sắc</p>
                    <div id="color_container">
                        <img src="../images/san_pham_7.jpeg" data-id="7"/>
                        <img src="../images/san_pham_2.jpeg" data-id="2"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div id="policy_container">
            <div class="policy">
                <div>
                    <img src="../images/anh_cam_ket_1.png" alt="policy">
                </div>
                <div>
                    <p>Đổi hàng 30 ngày</p>
                    <p>Thời gian đổi sản phẩm lên đến 30 ngày</p>
                </div>
            </div>
            <div class="policy">
                <div>
                    <img src="../images/anh_cam_ket_2.png" alt="policy">
                </div>
                <div>
                    <p>Bảo hành 90 ngày</p>
                    <p>Hỗ trợ bảo hành lên đến 90 ngày</p>
                </div>
            </div>
            <div class="policy">
                <div>
                    <img src="../images/anh_cam_ket_3.png" alt="policy">
                </div>
                <div>
                    <p>5 ngày hoàn tiền</p>
                    <p>Thời gian hoàn tiền không lý do lên đến 5 ngày</p>
                </div>
            </div>
            <div class="policy">
                <div>
                    <img src="../images/anh_cam_ket_4.png" alt="policy">
                </div>
                <div>
                    <p>Ưu đãi lên đến 15%</p>
                    <p>Ưu đãi cho Vip Member lên đến 15%</p>
                </div>
            </div>
        </div>
        <div id="footer_info">
            <div id="footer_info_left">
                <img class="logo" src="../images/logo.jpg" alt="logo">
                <p>CÔNG TY TNHH SẢN XUẤT THƯƠNG MẠI & DỊCH VỤ JENNIE</p>
                <p>Giấy CNĐKDN: 0316810152 – Ngày cấp: 19/04/2021 - Nơi cấp: Sở Kế Hoạch và Đầu Tư TPHCM</p>
                <p>Địa chỉ : 304-306 Nguyễn Trãi , Phường 08, Quận 05, Thành phố Hồ Chí Minh - Điện thoại: 028. 2220.
                    7878 Email: cskh@jennie.vn</p>
                <div id="contact_container">
                    <div>
                        <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" stroke-width="1.5"
                            viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#212504">
                            <path
                                d="M21 8V16C21 18.7614 18.7614 21 16 21H8C5.23858 21 3 18.7614 3 16V8C3 5.23858 5.23858 3 8 3H16C18.7614 3 21 5.23858 21 8Z"
                                stroke="#212504" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                            <path d="M11 21C11 18 11 15 11 12C11 9.8125 11.5 8 15 8" stroke="#212504" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M9 13H11H15" stroke="#212504" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </div>
                    <div>
                        <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" stroke-width="1.5"
                            viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#212504">
                            <path
                                d="M21 8V16C21 18.7614 18.7614 21 16 21H8C5.23858 21 3 18.7614 3 16V8C3 5.23858 5.23858 3 8 3H16C18.7614 3 21 5.23858 21 8Z"
                                stroke="#212504" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                            <path
                                d="M10 12C8.34315 12 7 13.3431 7 15C7 16.6569 8.34315 18 10 18C11.6569 18 13 16.6569 13 15V6C13.3333 7 14.6 9 17 9"
                                stroke="#212504" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                        </svg>
                    </div>
                    <div>
                        <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" stroke-width="1.5"
                            viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#212504">
                            <path d="M14 12L10.5 14V10L14 12Z" fill="#212504" stroke="#212504" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                            <path
                                d="M2 12.7075V11.2924C2 8.39705 2 6.94939 2.90549 6.01792C3.81099 5.08645 5.23656 5.04613 8.08769 4.96549C9.43873 4.92728 10.8188 4.8999 12 4.8999C13.1812 4.8999 14.5613 4.92728 15.9123 4.96549C18.7634 5.04613 20.189 5.08645 21.0945 6.01792C22 6.94939 22 8.39705 22 11.2924V12.7075C22 15.6028 22 17.0505 21.0945 17.9819C20.189 18.9134 18.7635 18.9537 15.9124 19.0344C14.5613 19.0726 13.1812 19.1 12 19.1C10.8188 19.1 9.43867 19.0726 8.0876 19.0344C5.23651 18.9537 3.81097 18.9134 2.90548 17.9819C2 17.0505 2 15.6028 2 12.7075Z"
                                stroke="#212504" stroke-width="1.5"></path>
                        </svg>
                    </div>
                    <div>
                        <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" stroke-width="1.5"
                            viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#212504">
                            <path
                                d="M12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z"
                                stroke="#212504" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                            <path
                                d="M3 16V8C3 5.23858 5.23858 3 8 3H16C18.7614 3 21 5.23858 21 8V16C21 18.7614 18.7614 21 16 21H8C5.23858 21 3 18.7614 3 16Z"
                                stroke="#212504" stroke-width="1.5"></path>
                            <path d="M17.5 6.51L17.51 6.49889" stroke="#212504" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </div>
                    <div>
                        <p>Zalo</p>
                    </div>
                </div>
                <p>Phương thức thanh toán</p>
                <div id="payment_container">
                    <img src="../images/cod.svg" alt="payment">
                    <img src="../images/vnpay.svg" alt="payment">
                    <img src="../images/logo_momo.png" alt="payment">
                </div>
            </div>
            <div id="footer_info_right">
                <div id="send_mail_to_register">
                    <div>
                        <p>Đăng ký nhận tin</p>
                        <p>Nhận tin qua email để không bỏ lỡ các tin tức khuyến mãi</p>
                    </div>
                    <div>
                        <input type="text" placeholder="Nhập email của bạn">
                        <button>Đăng ký</button>
                    </div>
                </div>
                <div id="footer_info_right_top">
                    <div id="footer_info_right_top_left">
                        <div>
                            <p>Thông tin</p>
                            <ul>
                                <li>Giới thiệu</li>
                                <li>Liên hệ công ty</li>
                                <li>Liên hệ hợp tác</li>
                                <li>Hệ thống cửa hàng</li>
                            </ul>
                        </div>
                        <div>
                            <p>Chính sách</p>
                            <ul>
                                <li>Chính sách thành viên</li>
                                <li>Chính sách hoàn tiền</li>
                                <li>Chính sách sản phẩm</li>
                                <li>Chính sách bảo mật</li>
                                <li>Chính sách kiểm hàng</li>
                                <li>Chính sách đổi hàng - bảo hành</li>
                            </ul>
                        </div>
                        <div>
                            <p>Hỏi đáp</p>
                            <ul>
                                <li>Thanh toán và vận chuyển</li>
                                <li>Hướng dẫn chọn size</li>
                                <li>Kiểm tra thông tin đơn hàng</li>
                            </ul>
                        </div>
                    </div>
                    <div id="footer_info_right_top_right">
                        <p>Mua hàng trực tuyến</p>
                        <p>1900.633.501 (T2-T6 8h30 - 17h30) 0938.803.633 (24/7)</p>
                        <p>sales.online@jennie.vn</p>
                        <p>Hotline góp ý</p>
                        <p>0908.18.12.89</p>
                        <p>cskh@totoday.vn</p>
                        <img src="../images/dathongbaobocongthuong.png" alt="image">
                    </div>
                </div>
                <div id="footer_info_right_bottom">
                    <div>
                        <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" stroke-width="1.5"
                            viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#212504">
                            <path d="M8 14L16 14" stroke="#212504" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path d="M8 10L10 10" stroke="#212504" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path d="M8 18L12 18" stroke="#212504" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path
                                d="M10 3H6C4.89543 3 4 3.89543 4 5V20C4 21.1046 4.89543 22 6 22H18C19.1046 22 20 21.1046 20 20V5C20 3.89543 19.1046 3 18 3H14.5M10 3V1M10 3V5"
                                stroke="#212504" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                        </svg>
                        <p>Tra cứu đơn háng</p>
                    </div>
                    <div>
                        <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" stroke-width="1.5"
                            viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#212504">
                            <path
                                d="M13.8062 5L12.8151 3.00376C12.4817 2.33208 11.5184 2.33208 11.1849 3.00376L10.6894 4.00188"
                                stroke="#212504" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                            <path d="M15.011 7.427L15.4126 8.23599L16.8648 8.44704" stroke="#212504" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                            <path
                                d="M19.7693 8.86914L21.2215 9.08019C21.9668 9.1885 22.2639 10.0994 21.7243 10.6219L20.6736 11.6394"
                                stroke="#212504" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                            <path d="M18.5724 13.6743L17.5217 14.6918L17.7697 16.1292" stroke="#212504"
                                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path
                                d="M18.2656 19.0039L18.5135 20.4413C18.6409 21.1797 17.8614 21.7427 17.1945 21.394L15.8959 20.715"
                                stroke="#212504" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                            <path d="M10.4279 19.5L12 18.678L13.2986 19.357" stroke="#212504" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                            <path
                                d="M5.67145 19.3689L5.48645 20.4414C5.35908 21.1797 6.13859 21.7428 6.80546 21.3941L7.65273 20.9511"
                                stroke="#212504" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                            <path d="M6.25259 16L6.47826 14.6917L5.78339 14.0188" stroke="#212504" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                            <path
                                d="M3.69875 12L2.27575 10.6219C1.73617 10.0993 2.03322 9.18844 2.77852 9.08012L3.88926 8.9187"
                                stroke="#212504" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                            <path d="M7 8.4666L8.58737 8.23591L9.39062 6.61792" stroke="#212504" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <p>Góp ý than phiền</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer_bottom">
            <p>Copyright © 2024 - Bản quyền thuộc JENNIE GROUP</p>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="../js/index.js"></script>
<script src="../js/product.js"></script>
</html>